@use 'mixins';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    


}

body{

    @font-face {
        font-family: Borel;
        src: url(../fonts/Borel-Regular.ttf);
        
      }

      font-family: Borel, Arial, Helvetica, sans-serif;
}



#header{
 padding: 10px;
 background-color: #9ff1f1;
 border: solid 5px #000000;
 

 .header-social-media{

    ul{
        @include mixins.social;
        height: 100%;
        list-style: none;

            li{
                margin: 0 1rem;
                a{
                    text-decoration: none;
                    color: #000000;
                    &:hover{
                        color: #00000088;
                    }
                }
            }
    }
 }
 
    
    h1{
        text-shadow: 2px 2px #ffffff;
        
    }
    h1:hover{
        cursor: pointer;

    }
    h1:active{
        color: #ffffff;
        text-shadow: 2px 2px #000000;
        

    }
   

}

.nav-bar{

    background-color: #a1dddd;
    border: double 10px;
    padding: 10px;

    div{

        text-shadow: 2px 2px #ffffff;
        border: solid 1px #000000;
        margin-bottom: 5px;
        padding: 5px;
    }


}

.footer{

    background-color:#a1dddd;
    border: double 10px #000000;
    &-div{

        padding: 10px;
        margin-left: 20px;
    }
    p{
        text-align: center;
        margin-bottom: -10px;
    }
}
